vti_encoding:SR|utf8-nl
vti_author:SR|DESKTOP-NN3D2O3\\drunk
vti_modifiedby:SR|DESKTOP-NN3D2O3\\drunk
vti_timelastmodified:TR|24 Feb 2021 04:41:46 -0000
vti_timecreated:TR|22 Feb 2021 20:17:23 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|393/AC_login.html 393/AC_register.html 393/Adventures.html 393/BUAC.html
vti_nexttolasttimemodified:TW|23 Feb 2021 20:15:22 -0000
vti_cacheddtm:TX|24 Feb 2021 04:41:46 -0000
vti_filesize:IR|5830
